#box1{ 
    width: 200px;
    height: 200px;
    background-color: #00ffff;

    /*
    position: relative;
    top: 200px;
    left: 30px;
    */
    
    /*
    position:fixed;
    right: 0px;
    bottom: 0px;
    */

    /*
    position:sticky;
    top: 80px;
    */

    position: static;
}

#box2{
    width: 200px;
    height: 200px;
    background-color: #db17e2;
    position: relative;
    top: 100px;
    left: 100px;
}

#box3{
    width: 100px;
    height: 100px;
    background-color: #17e217;
    position: absolute;
    top: 0px;
    right: 0px;
}