@font-face{
    src: url(Fonts/JetBrainsMono-Regular.ttf);
}

h1{
    font-family: Verdana, Arial;
}

#p1{
    font-family: "Lucida Console", "Courier New";
    font-size: 13px;
}

#p2{
    font-family: "Courier New";
    font-size: 1.5em; 
    /* 
        1em = 100%
        0.5em = 50%
        1.5em = 150%
    */
    font-weight: bold;
    font-style: italic;
}

#p3{
    font-family: "Didact Gothic";
}

#p4{
    font-family: "JetBrains Mono";
}
