div{
    background-color: red;
    width: 100px;
    height: 100px;
}

span{
    background-color: aqua;
    width: 100px;
    height: 100px;
}

#div2{
    display: inline;
}

#span2{
    display: block;
}

#div3{
    display: inline;
}

#span3{
    display: inline;
}

#div4{
    display: inline-block;
}

#span4{
    display: inline-block;
}

#div5{
    display: none;
}

#span5{
    display: inline-block;
    visibility: hidden;
}